<li class="list-group-item mb-1">
  <div class="d-flex justify-content-between align-items-center">
    <div class="form-check">
      <input
        class="form-check-input me-1"
        type="checkbox"
        id="{todoProps.id}"
        [checked]="todoProps?.isCompleted"
        (change)="toggleTodo()"
      />
      <label class="form-check-label" for="{todoProps.id}">
        <span
          [ngClass]="{ 'text-decoration-line-through': todoProps?.isCompleted }"
        >
          {{ todoProps?.text }}
        </span>
      </label>
    </div>
    <button class="btn btn-danger btn-sm" (click)="removeTodo()">X</button>
  </div>
</li>
