<div class="m-1 p-4">
  <div class="p-1 text-center">
    <h2>{{ titleProps }}</h2>
  </div>
  <div class="m-1 p-3">
    <div class="bg-white rounded shadow-sm p-2">
      <input
        type="text"
        class="form-control border-0 bg-transparent rounded add-todo-input"
        placeholder="What needs to be done?"
        autofocus
        [value]="text"
        (keyup)="changeText($event)"
        (keyup.enter)="addTodo()"
      />
    </div>
  </div>
  <div class="mx-4 border-black-25 border-bottom"></div>
</div>
