<footer class="m-5 mt-0 mb-4" [ngClass]="{ 'd-none': noTodos$ | async }">
  <div class="d-flex justify-content-between me-0">
    <div>
      <span class="badge rounded-pill bg-secondary">
        {{ activeCount$ | async }}
      </span>
      <span class="ms-2">{{ itemsLeftText$ | async }}</span>
    </div>
    <div>
      <ul class="list-unstyled list-inline">
        <li
          class="list-inline-item"
          *ngFor="let filter of filterEnum | keyvalue"
        >
          <a
            href="/"
            [ngClass]="{ active: (activeFilter$ | async) === filter.key }"
            (click)="changeFilter($event, filter.value)"
          >
            {{ filter.value }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
