<div class="m-5 mt-0 mb-4" [ngClass]="{ 'd-none': noTodos$ | async }">
  <div class="form-check mb-3">
    <input
      class="form-check-input"
      type="checkbox"
      id="toggleAll"
      [checked]="isAllTodosSelected$ | async"
      (change)="toggleAllTodos($event)"
    />
    <label class="form-check-label" for="toggleAll">
      Mark all as completed
    </label>
  </div>
  <ul class="list-group">
    <app-todos-todo
      *ngFor="let todo of visibleTodos$ | async"
      [todo]="todo"
    ></app-todos-todo>
  </ul>
</div>
